*{
    font-family: Verdana;
}
body{
    width: 100%;
    height: 100%;
}
.pop{
    /*visibility: hidden;*/
    z-index: 3;
    display: block;
    position: absolute;
    -webkit-box-shadow: 8px 8px 24px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px -7px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px -7px rgba(66, 68, 90, 1);
}
#tworz-zadanie{
    width: 15%;
    height: 12%;
}
